Django==2.2.7
django-appconf==1.0.3
django-compressor==2.3
django-sass-processor==0.7.4
libsass==0.19.4
Pillow==6.2.1
pytz==2019.3
PyYAML==5.1.2
rcssmin==1.0.6
rjsmin==1.1.0
six==1.13.0
sqlparse==0.3.0
ua-parser==0.8.0
user-agents==2.0
