{% extends 'base.html' %}
{% load static %}
{% block title %}КредитОбзор | {{ article.title }}{% endblock %}
{% block filters %}
    <div class="filter-placeholder"></div>
{% endblock %}
{% block main %}
<div class="main">
    <div class="article">
        <h3>{{ article.title }}</h3>
        <div class="article-header">
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
            <p>{{ article.text | linebreaks }}</p>
        </div>
        {% for paragraph in paragraphs %}
        <div class="article-paragraph">
            <img src="{{ paragraph.image.url }}" alt="">
            <p>{{ paragraph.text | linebreaks }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="promoted">
        <h5>Лучшие предложения</h5>
        {% for offer in promoted_offers %}
        {% include 'mfo/card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
