{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}КредитОбзор - сайт отзывов о кредитных картах, онлайн займах и других финансовых продуктах{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="e4jEJSNfc_tb07U2HW4kWcI3-kT_K_okHzUBws6T1-E" />
    <meta name="yandex-verification" content="fb17d5c655bbacc6" />
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.scss' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favi.png' %}">
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        <div class="manager-button">
            <a href="{% url 'manager' %}"><img src="{% static 'img/boss.png' %}"></a>
        </div>
    {% endif %}
    <div class="nav-mobile" id="nav-mobile">
        <div class="nav-mobile-content">
            <span id="nav-close">&times;</span>
            <div class="nav-text">
                <a href="{% url 'home' %}">Рейтинг</a>
                <a href="{% url 'news' %}">Новости</a>
                <a href="{% url 'articles' %}">Статьи</a>
                <a href="{% url 'home' %}?h=кредитные_карты">Кредитные карты</a>
                <a href="{% url 'home' %}?h=мфо">Онлайн Займы</a>
            </div>
        </div>
    </div>
    <section class="header">
        <nav>
            <a href="{% url 'home' %}"><img src="{% static 'img/kreditobzor-logo.png' %}" alt="КредитОбзор - отзывы о займах на карту"></a>
            <a href="{% url 'home' %}"><p>Рейтинг</p></a>
            <a href="{% url 'news' %}"><p>Новости</p></a>
            <a href="{% url 'articles' %}"><p>Статьи</p></a>
            <a href="{% url 'home' %}?h=кредитные_карты"><p>Кредитные карты</p></a>
            <a href="{% url 'home' %}?h=мфо"><p>Онлайн Займы</p></a>
            <div class="nav-menu" id="nav-menu">
                <img src="{% static 'img/menubutton.png' %}">
            </div>
        </nav>
        <div class="header-text">
            <h1>Народный рейтинг онлайн займов</h1>
            <h2>Отзывы об онлайн займах, кредитных картах и других финансовых продуктах</h2>
            <p>На нашем сайте вы можете прочитать и оставить отзыв, а также подобрать для себя подходящее финансовое
                предложение, основываясь на оценках и комментариях пользователей сайта</p>
        </div>
        {% block filters %}
            <div class="filters">
                <p>Сортировка</p>
                <div class="filters-list">
                    <select onChange="window.location.href=this.value">
                        <option value="" disabled selected>{{ app_name }}</option>
                        <option value="?h=мфо">Займы</option>
                        <option value="?h=кредитные_карты">Кредитные карты</option>
                    </select>
                    {% for key, value in filter_list.items %}
                    <a {% if filter == value %}class="active"{% endif %} href="/?s={{ key }}">
                        {{ value }}
                    </a>
                    {% endfor %}
                    <div class="mobile-filters">
                        <select onChange="window.location.href=this.value">
                            <option value="" disabled selected>{{ filter }}</option>
                            {% for key, value in filter_list.items %}
                                <option value="/?s={{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="girls">
            <img src="{% static 'img/kreditobzor-promo.jpg' %}" alt="займ онлайн">
        </div>
    </section>
    <section class="content">
        {% block main %}
        {% endblock %}
            {% block sidebar %}
            <div class="sidebar">
            {% for sidebanner in sidebanners %}
                <div class="sidebanner">
                    <a href={% url 'ads:sidebanner_count' sidebanner.pk %}><img src="{{ sidebanner.image.url }}" alt="{{ sidebanner.title }}"></a>
                </div>
            {% endfor %}
            </div>
        {% endblock %}
    </section>
    <footer>
    {% block footer %}
    {% endblock %}
        <script>
            var navModal = document.getElementById("nav-mobile");
            var navBtn = document.getElementById("nav-menu");
            var navClose = document.getElementById("nav-close");

            navBtn.onclick = function() {
              navModal.style.display = "block";};

            navClose.onclick = function() {
              navModal.style.display = "none";};

            window.onclick = function(event) {
              if (event.target === navModal) {
                navModal.style.display = "none";
              }
            };

            // Utils functions:
            function urlBase64ToUint8Array (base64String) {
                    var padding = '='.repeat((4 - base64String.length % 4) % 4)
                    var base64 = (base64String + padding)
                            .replace(/\-/g, '+')
                            .replace(/_/g, '/')
                    var rawData = window.atob(base64)
                    var outputArray = new Uint8Array(rawData.length)
                    for (var i = 0; i < rawData.length; ++i) {
                            outputArray[i] = rawData.charCodeAt(i)
                    }
                    return outputArray;
            }

            var applicationServerKey = "BBUu0gcd9pE-C9k3uGbssazXMYYXN0xaMfVSy28vYKYIth-Uu8u1JWfcvXEZ3c_K5-VjSnyM5xxalgjpk6oz-Iw";


            // In your ready listener
                if ('serviceWorker' in navigator) {
                    // The service worker has to store in the root of the app
                    // http://stackoverflow.com/questions/29874068/navigator-serviceworker-is-never-ready
                    navigator.serviceWorker.register('{% static 'js/sw.js' %}').then(function (reg) {
                        reg.pushManager.subscribe({
                            userVisibleOnly: true,
                            applicationServerKey: urlBase64ToUint8Array(applicationServerKey)
                        }).then(function (sub) {
                            var endpointParts = sub.endpoint.split('/');
                            var registration_id = endpointParts[endpointParts.length - 1];
                            var data = {
                                'p256dh': btoa(String.fromCharCode.apply(null, new Uint8Array(sub.getKey('p256dh')))),
                                'auth': btoa(String.fromCharCode.apply(null, new Uint8Array(sub.getKey('auth')))),
                                'registration_id': registration_id
                            };
                            requestPOSTToServer(data);
                        })

                    }).catch(function (err) {
                        console.log(':^(', err);
                    });
                }


                function requestPOSTToServer(data) {
                    $.post('{% url 'subscription' %}', {
                        'name': 'WebPush',
                        'browser': 'CHROME',
                        'p256dh': data.p256dh,
                        'auth': data.auth,
                        'registration_id': data.registration_id,
                        }
                    )
                }
        </script>
    </footer>
{% block extra_js %}
{% endblock %}
</body>
</html>