{% load sass_tags %}
{% load static %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}КредитОбзор - сайт отзывов о кредитных картах, онлайн займах и других финансовых продуктах{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.scss' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favi.png' %}">
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
    {% webpush_header %}
    {% block extra_head %}
    {% endblock %}
</head>
<body onload="document.getElementById('webpush-subscribe-button').click()">
    {% webpush_button %}
    {% if user.is_authenticated %}
        <div class="manager-button">
            <a href="{% url 'manager' %}"><img src="{% static 'img/boss.png' %}"></a>
        </div>
    {% endif %}
    <div class="nav-mobile" id="nav-mobile">
        <div class="nav-mobile-content">
            <span id="nav-close">&times;</span>
            <div class="nav-text">
                <a href="{% url 'home' %}">Рейтинг</a>
                <a href="{% url 'news' %}">Новости</a>
                <a href="{% url 'articles' %}">Статьи</a>
                <a href="{% url 'home' %}?h=кредитные_карты">Кредитные карты</a>
                <a href="{% url 'home' %}?h=мфо">Онлайн Займы</a>
            </div>
        </div>
    </div>
    <section class="header">
        <nav>
            <a href="{% url 'home' %}"><img src="{% static 'img/kreditobzor-logo.png' %}" alt="КредитОбзор - отзывы о займах на карту"></a>
            <a href="{% url 'home' %}"><p>Рейтинг</p></a>
            <a href="{% url 'news' %}"><p>Новости</p></a>
            <a href="{% url 'articles' %}"><p>Статьи</p></a>
            <a href="{% url 'home' %}?h=кредитные_карты"><p>Кредитные карты</p></a>
            <a href="{% url 'home' %}?h=мфо"><p>Онлайн Займы</p></a>
            <div class="nav-menu" id="nav-menu">
                <img src="{% static 'img/menubutton.png' %}">
            </div>
        </nav>
        <div class="header-text">
            <h1>Народный рейтинг онлайн займов</h1>
            <h2>Отзывы об онлайн займах, кредитных картах и других финансовых продуктах</h2>
            <p>На нашем сайте вы можете прочитать и оставить отзыв, а также подобрать для себя подходящее финансовое
                предложение, основываясь на оценках и комментариях пользователей сайта</p>
        </div>
        {% block filters %}
            <div class="filters">
                <p>Сортировка</p>
                <div class="filters-list">
                    <select onChange="window.location.href=this.value">
                        <option value="" disabled selected>{{ app_name }}</option>
                        <option value="?h=мфо">Займы</option>
                        <option value="?h=кредитные_карты">Кредитные карты</option>
                    </select>
                    {% for key, value in filter_list.items %}
                    <a {% if filter == value %}class="active"{% endif %} href="/?s={{ key }}">
                        {{ value }}
                    </a>
                    {% endfor %}
                    <div class="mobile-filters">
                        <select onChange="window.location.href=this.value">
                            <option value="" disabled selected>{{ filter }}</option>
                            {% for key, value in filter_list.items %}
                                <option value="/?s={{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="girls">
            <img src="{% static 'img/kreditobzor-promo.jpg' %}" alt="займ онлайн">
        </div>
    </section>
    <section class="content">
        {% block main %}
        {% endblock %}
            {% block sidebar %}
            <div class="sidebar">
            {% for sidebanner in sidebanners %}
                <div class="sidebanner">
                    <a href={% url 'ads:sidebanner_count' sidebanner.pk %}><img src="{{ sidebanner.image.url }}" alt="{{ sidebanner.title }}"></a>
                </div>
            {% endfor %}
            </div>
        {% endblock %}
    </section>
    <footer>
    {% block footer %}
    {% endblock %}
        <script>
            var navModal = document.getElementById("nav-mobile");
            var navBtn = document.getElementById("nav-menu");
            var navClose = document.getElementById("nav-close");

            navBtn.onclick = function() {
              navModal.style.display = "block";};

            navClose.onclick = function() {
              navModal.style.display = "none";};

            window.onclick = function(event) {
              if (event.target === navModal) {
                navModal.style.display = "none";
              }
            };
        </script>
    </footer>
{% block extra_js %}
{% endblock %}
</body>
</html>