{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
{% endblock %}
{% block filters %}
    <div class="filter-placeholder"></div>
{% endblock %}
{% block main %}
<div class="main-full">
    <div class="comment-form">
        <form class="comment-form" id="send-push__form">
            <h3>Отправить ПУШ</h3>
            <p class="error"></p>
            <label>Заголовок: </label>
            <input type="text" name="head" >
            <label>Текст: </label>
            <textarea name="body" id="" cols="30" rows="10"></textarea>
            <button>Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block extra_js %}
{% endblock %}