{% extends 'base.html' %}
{% load static %}
{% block filters %}
    <div class="filters">
        <p>Сортировка</p>
        <div class="filters-list">
            <select onChange="window.location.href=this.value">
                <option value="" disabled selected>Выберите период</option>
                <option value="?r_m_d=1">За 1 день</option>
                <option value="?r_m_d=7">За 7 дней</option>
                <option value="?r_m_d=7">За 30 дней</option>
            </select>
            {% for key, value in filter_list.items %}
            <a {% if filter == value %}class="active"{% endif %} href="?s={{ key }}">
                {{ value }}
            </a>
            {% endfor %}
            <div class="mobile-filters">
                <select onChange="window.location.href=this.value">
                    <option value="" disabled selected>{{ filter }}</option>
                    {% for key, value in filter_list.items %}
                        <option value="?s={{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
<div class="main-full">
    <div class='comment-manager'>
        <h1>Статистика</h1>
        <div class="comment-grid">
            <div class="manager-box">
                {% for key, value in referals_stat.items %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
            <div class="manager-box">
                {% for key, value in referals_list.items %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
        </div>
        <h1>Рефералы</h1>
        <div class="comment-grid">
            {% for referal in referals %}
                <div class="manager-box">
                    <p>Полная ссылка: {{ referal.link }}</p>
                    <p>Время: {{ referal.timestamp }}</p>
                    <p>IP: {{ referal.ip }}</p>
                    <p>Юзер-агент: {{ referal.useragent }}</p>
                    <p>Реферер: {{ referal.referer }}</p>
                    <p>Идентификатор: {{ referal.banner }}</p>
                    <p>Количество переходов по куки: {{ referal.cookie_counter }}</p>
                </div>
            {% endfor %}
        </div>
        {% if referals_page.has_other_pages %}
            <div class="pagination">
            {% for num in referals_page.paginator.page_range %}
                {% if referals_page.number == num %}
                    <a style="background: #ded9d9" href="?page={{ num }}">{{ num }}</a>
                {% elif num > referals_page.number|add:'-3' and num < referals_page.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
                {% if referals_page.has_previous %}
                    <a href="?page=1"><<</a>
                    <a href="?page={{ referals_page.previous_page_number }}"><</a>
                    <a href="?page={{ referals_page.previous_page_number }}">{{ referals_page.previous_page_number }}</a>
                {% endif %}
                <span class="page-current">
                    {{ referals_page.number }}
                </span>
                {% if referals_page.has_next %}
                    <a href="?page={{ referals_page.next_page_number }}">{{ referals_page.next_page_number }}</a>
                    <a href="?page={{ referals_page.next_page_number }}">></a>
                    <a href="?page={{ referals_page.paginator.num_pages }}">>></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}